.row
  .col-md-8
    .card.mt-4
      .card-header
        %h2
          Edit #{resource_name.to_s.humanize}
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .row
            .col-md-4
              .form-group
                = f.label :name
                = f.text_field :name, autofocus: true, autocomplete: "username", class: "form-control"
                .form-group
                  = f.label :image
                  = f.text_field :image, autofocus: true, autocomplete: "image", class: "form-control"
                .form-group
                  = f.label :sex
                  = f.select :sex, [['Please select an option', nil], 'Female', 'Male', ' Other'], class: "form-control"
                .form-group
                  = f.label :address
                  = f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control"

            .col-md-4
              .form-group
                = f.label :dob
                = f.date_field :dob, autofocus: true, autocomplete: "dob", class: "form-control"
              .form-group
                = f.label :telephone
                = f.number_field :telephone, autofocus: true, autocomplete: "telephone", class: "form-control"
              .form-group
                = f.label :nationality
                = f.text_field :nationality, autofocus: true, autocomplete: "nationality", class: "form-control"
              .form-group.text-center
                %br
                = f.submit "Update", class: "btn btn-success"
            .col-md-4
              .form-group
                = f.label :email
                = f.email_field :email, autocomplete: "email", class: "form-control"
              .form-group
                = f.label :password
                - if @minimum_password_length
                  %em
                    (#{@minimum_password_length} characters minimum)
                = f.password_field :password, autocomplete: "new-password", class: "form-control"
              .form-group
                = f.label :password_confirmation
                = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
              .form-group
                = f.label :current_password
                %i (we need your current password to confirm your changes)
                %br/
                = f.password_field :current_password, autocomplete: "current-password", class:"form-control"

  .col-md-4
    .card.mt-4
      .card-header
        %h3 Cancel my account
      .card-body
        %p
          Unhappy? #{button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete}
        = link_to "Back", :back, class: "btn btn-warning"
