.row
  .col-md-3.offset-md-1
    - if user_signed_in?
      .card.mt-4
        .card-body
          -if current_user.image
            = image_tag current_user.image, class: "img-fluid rounded-circle", alt: "Cinque Terre"
          %h4.text-center.mt-4
            #{current_user.name}
    - else
      .card.mt-4
        .card-body
          %p
            Already have an account?
          = link_to 'Log in', user_session_path, class: "btn btn-primary mt-3"
          %p
            Still not registered?
          = link_to 'Sign up', new_user_registration_path, class: "btn btn-primary mt-3"
  .col-md-6
    - if user_signed_in?
      .col-md-4.offset-md-2
        %h2.text-center
          Welcome #{current_user.name}
      .card
        .card-body
          %p
            %b
            Sex:
            = current_user.sex
            %br
            Address:
            = current_user.address
            %br
            Date of bird:
            = current_user.dob
            %br
            Telephone:
            = current_user.telephone
            %br
            Nationality:
            = current_user.nationality
