.row
  .col-12.col-md-4.offset-md-4
    .card.mt-4.mb-4
      .card-header
        %h2= t('.sign_in')
      .card-body
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
          .form-group
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "current-password", class: "form-control"
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          .form-group.text-center
            = f.submit "Log in", class: "btn btn-warning"
      .card-footer
        = render "devise/shared/links"
