%nav.navbar.navbar-expand-md.navbar-dark.bg-primary
  %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarNav", "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation"}
    %span.navbar-toggler-icon

  .navbar-nav
    - if user_signed_in?
      .dropdown
        %button#dropdownMenuButton.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          My account
        .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
          = link_to "Profile", profile_path, class: "dropdown-item"
          = link_to "Sign out", sign_out_path, method: "delete", class: "dropdown-item"
      %ul.navbar-nav
        %li.navbar-item{class: active_class(root_path)}
        = link_to 'Home', root_path, class: "nav-link"
    - else
      = link_to 'Sign in', sign_in_path, class: 'nav-link'
